@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header { 
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-links {
  display: flex;
  margin-right: auto;
  margin-left: 12px;
  padding: 0;
  gap: 12px;
  list-style: none;
}

.right-links {
  display: flex;
  margin-left: auto;
  margin-right: 12px;
  padding: 0;
  gap: 12px;
  list-style: none;
}

ul{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: darkgray;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 4px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 16px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}