body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 72px;
  background: darkmagenta;
  color: white;
  padding-left: 12px;
  align-items: center;
}

.footer {
  display: flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 4px 0;
}

li {
  padding: 8px 12px;
}

a {
  text-decoration: none;
  color: #eee;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  margin: 16px;
  max-width: 300px;
  padding: 12px;
}